<div class="col-12 container-padding">
  <form id="artisteForm" v-on:submit.prevent="ajouteOeuvre($event)">
    <div class="form-group">
        <input class="form-control input-lg" type="text" id="nomOeuvre" name="nom" autocomplete="off"
               placeholder="Nom de votre oeuvre" v-model="oeuvreForm.nom" maxlength="64" required/>
    </div>
    <div class="form-group">
        <input class="form-control input-lg" type="text" id="typeOeuvre" name="type"
               placeholder="Type (Sculpture, Gravure, Aquarelle...)" v-model="oeuvreForm.type" maxlength="64" required/>
    </div>
    <div class="form-group">
        <input class="form-control input-lg" type="date" id="dateCreation" name="dateCreation"
               placeholder="Date de création de l'oeuvre" v-model="oeuvreForm.dateCreation"/>
    </div>
    <div class="form-group">
        <textarea class="form-control input-lg" id="descriptionOeuvre" name="description"
               placeholder="Description de l'oeuvre" v-model="oeuvreForm.description" max="256"></textarea>
    </div>
    <div class="form-group float-right">
        <input class="form-check-input" type="checkbox" id="enExposition" name="oeuveExposee"
               v-model="oeuvreForm.enExposition">
        <label class="form-check-label" for="enExposition">
          Exposer l'oeuvre
        </label>
    </div>
      <span id="loginError" class="error active" aria-live="polite">[[ msg ]]</span>
    <input class="btn btn-primary btn-block btn-lg" type="submit" value="Ajouter">
  </form>
</div>