<div class="col-12 col-md-6 container-padding">
    <h2> Créer un compte </h2>
    <form id="registerForm">
        <div class="form-group">
            <input class="form-control input-lg" type="email" id="newEmail" name="email" placeholder="email@example.com" required>
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="password" id="newPassword" name="password" placeholder="password" minlength="4" maxlength="32" required>
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="password" id="confirmNewPassword" name="password" placeholder="confirm password" minlength="4" maxlength="32" required>
        </div>
        <input class="btn btn-primary btn-block btn-lg" type="submit" value="Register">
        <span id="registerError" class="error" aria-live="polite"></span>
    </form>
</div>